body {
    background-color: #ED4337;
}
.overlay {
    height: 0;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    height: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.5s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

#openbtn {
    position: absolute;
    font-size: 40px;
    right: 20px;
    padding: 20px;
    color: black;
}

h1 {
    margin-top: 150px;
    margin-left: 30px;
    color: white;
    font: 60px "Open Sans", sans-serif;
    letter-spacing: 5px;
}

.content {
    margin-top: 10px;
    margin-left: 20px;
    color: white;
    padding: 5px;
    line-height: 1.5;
    font: "Open Sans", sans-serif;
}

.projects {
    margin-top: 30px;
    margin-left: 30px;
    color: white;
    padding: 5px;
    line-height: 1.5;
    display: none;
    /*text-align: center;*/
}

.projects h2 {
    font-size: 60px;
    font: "Ubuntu", sans-serif;
    letter-spacing: 5px;
    color: #3f51b5;
    color: white;
}

.projectName a {
    font-size: 30px;
    /*text-align: center;*/
    padding: 5px;
    color: orange;
    font-weight: bold;
    letter-spacing: 5px;
}

.projectName a:hover, .projectName a:focus {
    color: yellow;
    margin-left: 30px;
    text-decoration: none;
}

.projects h3 {
    margin-top: 10px;
    /*margin-left: 30px;*/
    color: white;
    padding: 5px;
    line-height: 1.5;
    font-size: 20px;
    font: "Open Sans", sans-serif;
}

.blog {
    margin-top: 10px;
    margin-left: 30px;
    color: white;
    padding: 5px;
    line-height: 1.5;
    display: none;
}
.contacts {
    position: relative;
   left:0px;
   bottom:0px;
   /*width:100%;*/
   font-size: 40px;
}
.contacts a {
    text-decoration: none; 
    color: black;
    padding-left: 30px;
}

.content h2 a {
    text-decoration: none;
    color: orange;
}

.content h2 a:hover {
    color: yellow;
}
br {
    line-height: 200%;
}
/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 20px;
        top: 10px;
        right: 0px;
    }
}